.b-userButtons {
    display: grid;
    grid-column-gap: 33px;
    grid-auto-flow: column;
    align-items: end;

    @media (max-width: 767px) {
        grid-column-gap: 0;
    }

    &__button {
        display: flex;
        padding: 0;
        margin: 0;
        background: transparent;
        border: none;
        outline: none;

        &:hover {
            filter: invert(70%) sepia(20%) saturate(2764%) hue-rotate(303deg) brightness(89%) contrast(115%);
        }

        &__visibly {
            @media (max-width: 767px) {
                display: none !important;
            }
        }
    }
}