@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

// Медиа запросы от большого экрана к маленькому

body {
    margin: 0;
    font-family: Lato, sans-serif;
}

.wrapper {
    margin: 0 auto;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 75px 1fr minmax(200px, auto);
}

.container {
    margin: 0 auto;
    max-width: 1140px;
}

.pink_text {
    color: #F16D7F;
}

// HEADER

.header {
    background: #222222;
}

.header__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__header {
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
}

.button__header {
    display: grid;
    grid-column-gap: 33px;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
}

.button__header__container__basket {
    position: relative;
    display: inherit;
}

.num__basket {
    position: absolute;
    top: -5px;
    left: 23px;
    color: white;
    background: #f16d7f;
    border-radius: 50%;
    padding: 2px 6px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

@media (max-width: 1204px) {
    .header__container {
        margin-left: 32px;
        margin-right: 32px;
    }
}

@media (max-width: 767px) {
    .header__container {
        margin-left: 16px;
        margin-right: 16px;
    }

    .button__header__container__basket,
    .button__header__user {
        display: none;
    }

    .button__header {
        grid-template-columns: 1fr;
    }
}

// BRAND

.brand_wrap {
    background: #F1E4E6;
    margin-bottom: 65px;
}

.brand_container {
    background: #F1E4E6;
    display: flex;
    margin: 0 auto;
    max-width: 1600px;
}

.brandManImg {
    width: 50%;
}

.text_brand_container {
    display: flex;
    align-self: center;
    margin-left: 60px;
}

.brand_rectangle {
    background: #F16D7F;
    width: 12px;
    margin-right: 16px;
}

.text_brand_lines_container {
    color: #222222;
}

.text_brand_first {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}

.text_brand_second {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

@media (max-width: 1204px) {
    .brand_wrap {
        margin-bottom: 25px;
    }

    .text_brand_container {
        margin-left: 40px;
    }

    .text_brand_first {
        font-size: 44px;
        line-height: 53px;
    }

    .text_brand_second {
        font-size: 24px;
        line-height: 29px;
    }
}

@media (max-width: 767px) {
    .brand_wrap {
        margin-bottom: 64px;
    }

    .brand_container {
        justify-content: center;
    }

    .text_brand_container {
        margin: 147px 56px;
    }

    .brandManImg {
        display: none;
    }

    .text_brand_first {
        font-size: 38px;
        line-height: 46px;
    }

    .text_brand_second {
        font-size: 20px;
        line-height: 24px;
    }
}

// OFFER

.offer_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 180px;
    gap: 30px;
    margin-bottom: 96px;
}

.offer_item_big,
.offer_item {
    position: relative;
}

.offer_item_big {
    grid-column: 1/4;
    grid-row: 2/2;
}

.offer_Img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.offer_content_container {
    position: absolute;
    background: rgba(33, 22, 22, 0.7);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.offer_text_first {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.offer_text_second {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

@media (max-width: 1204px) {
    .offer_container {
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media (max-width: 1023px) {
    .offer_container {
        grid-template-rows: 167px 116px;
        gap: 20px;
        margin-bottom: 155px;
    }
}

@media (max-width: 767px) {
    .offer_container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 248px) 111px;
        gap: 32px;
        grid-auto-flow: column;
        margin-bottom: 64px;
    }

    .offer_item_big {
        grid-column: 1/1;
        grid-row: 4/4;
    }
}

// FEATURED

.featured_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 96px;
}

.featured_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.featured_text_first {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 6px;
}

.featured_text_second {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;   
}

.featured_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 49px;
}

.featured_item {
    background: #F8F8F8;
}

.featured_item:hover .features_dark_layout {
    display: flex;
}

.featured_image_wrap {
    position: relative;
}

.features_image {
    display: block;
    width: 100%;
    object-fit: cover;
}

.features_dark_layout{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(58, 56, 56, 0.86);
    display: none;
    justify-content: center;
    align-items: center;
}

.features_add_button {
    background: none;
    border: 1px solid #FFFFFF;
    font-size: 14px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 11px 13px;
}

.features_add_icon {
    margin-right: 11px;
    height: 26px;
    width: 24px;
}

.featured_item_content {
    margin: 25px 17px 20px;
}

.features_item_title {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 13px;
}

.features_item_descr {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 18px;
}

.features_item_price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.featured_button {
    background: none;
    border: 1px solid #FF6A6A;
    align-self: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    padding: 15px 39px;
}

.featured_button:hover {
    background: #F16D7F;
    color: #FFFFFF;
}

@media (max-width: 1204px) {
    .featured_container {
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media (max-width: 1023px) {
    .featured_container {
        margin-bottom: 65px;
    }

    .featured_title {
        margin-bottom: 74px;
    }

    .featured_text_first {
        margin-bottom: 4px;
    }

    .featured_items {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin-bottom: 33px;
    }
}

@media (max-width: 767px) {
    .featured_container {
        margin-left: 8px;
        margin-right: 8px;
        margin-bottom: 97px;
    }

    .featured_title {
        margin-bottom: 65px;
    }

    .featured_items {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 16px;
        margin-bottom: 42px;
    }
}